<div class="container-fluid">

    <ng-template #createWorkoutExerciseModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Exercise to Workout</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #createWorkoutExerciseForm="ngForm">
                <h5>{{selectedExercise.name}}</h5>
                <div class="form-row">
                    <div class="form-group col-3">
                        <label for="inputReps">Reps</label>
                        <input type="number" class="form-control" id="inputReps" name="inputReps" #inputReps="ngModel"
                               required
                               pattern="^[1-9][0-9]*"
                               min="1"
                               [ngClass]="{'is-valid': inputReps.valid && inputReps.touched,
                         'is-invalid': inputReps.invalid && inputReps.touched}"
                               [(ngModel)]="workoutExerciseBindingModel.reps">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Reps should be a positive number.
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label for="inputSets">Sets</label>
                        <input type="number" class="form-control" id="inputSets" name="inputSets" #inputSets="ngModel"
                               required
                               pattern="^[1-9][0-9]*"
                               min="1"
                               [ngClass]="{'is-valid': inputSets.valid && inputSets.touched,
                         'is-invalid': inputSets.invalid && inputSets.touched}"
                               [(ngModel)]="workoutExerciseBindingModel.sets">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Sets should be a positive number.
                        </div>
                    </div>

                    <div class="form-group col-6">
                        <label for="inputStatus">Workout</label>
                        <select id="inputStatus" name="status" class="form-control" #inputWorkoutId
                                [(ngModel)]="selectedWorkoutId">
                            <option [ngValue]="workout.id"
                                    *ngFor="let workout of userWorkouts">{{workout.name}}</option>
                        </select>
                    </div>

                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]="createWorkoutExerciseForm.invalid" class="btn btn-outline-dark" (click)="modal.close()">Add to Workout</button>
        </div>
    </ng-template>


    <div class="jumbotron">
        <img src="assets/static/images/logo.png" height="300px" class="d-inline-block align-center" alt="">
        <h1 class="display-4">Exercise Details</h1>
        <hr class="my-2"/>
        <div class="container pt-4">
            <div class="row">
                <div class="exercise-container col-lg-9 mx-auto">
                    <div class="exercise-intro mt-4">
                        <img src="{{selectedExercise.pictureURL}}" height="300px"
                             class="d-block mx-auto img-thumbnail" alt="Exercise picture">
                        <h2 class="display-4 d-block mx-auto font-weight-bolder">{{selectedExercise.name}}</h2>
                    </div>

                    <hr class="my-4"/>

                    <h3 class="font-weight-light pb-2">Used in <span class="font-weight-bold">{{selectedExercise.workoutsCounter}}</span> workouts</h3>
                    <hr/>

                    <div class="involving-muscles">
                        <div class="col-lg-5 d-inline-block">
                            <svg class="body-model" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="400"
                                 viewBox="0 0 612 792" xml:space="preserve">

                                        <image style="overflow:visible;" xlink:href="assets/static/images/muscles.png"
                                               transform="matrix(0.7228 0 0 0.7228 -42.5334 69.2174)"></image>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('abs'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'abs'}"
                                      class="abs muscle" d="M137.3,267.09c0,0-53.61,7.17-50.74,35.87c2.87,28.7,4.57,25.83,1.7,45.39c-2.87,19.57,4.83,28.7,4.83,28.7
	l38.09,50.74c0,0,18.26,21.78,32.87-14.48c14.61-36.26,27-42.39,27-42.39l7.3-6.78c0,0-1.43-7.3-1.3-10.3
	c0.13-3-2.87-16.04-2.87-16.04s-2.35-10.83,0.13-19.3c2.48-8.48,0-25.04-0.65-26.22s-1.96-16.43-20.74-18s-22.88-5.43-22.88-5.43
	L137.3,267.09z"><title>Abs</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('traps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'traps'}"
                                      class="traps muscle" d="M83.7,184.85l10.76,6.46l8.22,3.91l10.17,2.93h6.65v-4.3v-10.57l-1.96-10.76
                    C117.54,172.52,107.17,185.43,83.7,184.85z"><title>Traps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('traps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'traps'}"
                                      class="traps muscle" d="M163.72,169.98l-1.96,15.36l-0.98,12.82l1.47,1.37l15.95-2.35l12.72-4.3l9-3.52l4.11-1.76
                    C204.02,187.59,193.46,190.13,163.72,169.98z"><title>Traps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('chest'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'chest'}"
                                      class="chest muscle" d="M74.5,213.41l-1.37,11.93l0.68,2.15l2.64,2.74l1.96,11.74c0,0,3.91,20.93,11.15,25.43s5.48,4.11,5.48,4.11
                    l6.55,2.74l9.77-0.32c0,0,15.18-1.05,18.7-7.5c3.52-6.46,3.33-5.48,3.52-10.37s0-13.11,0-13.11l0.09-11.54l-3.22-9l-0.2-11.54
                    l-0.39-5.28l-10.37-3.52l-11.74-1.17C107.76,200.89,79.59,208.52,74.5,213.41z"><title>Chest</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('chest'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'chest'}"
                                      class="chest muscle" d="M168.41,200.89l-14.28,2.15l-5.67,2.15v2.93v6.85l-1.96,9.2l-4.89,10.37l-0.98,15.26c0,0,1.19,16.46,8.41,18.71
                    c7.23,2.25,10.37,4.18,17.22,4.77c6.85,0.59,13.3-1.17,13.3-1.17s8.41-1.57,13.89-10.37c5.48-8.8,7.24-14.48,7.24-14.48l2.35-10.11
                    l3.33-10.82l1.57-9l-5.28-5.09C202.65,212.24,180.15,199.12,168.41,200.89z"><title>Chest</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('biceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'biceps'}"
                                      class="biceps muscle" d="M71.96,229.46c0,0-16.96,12.07-19.3,34.11c-2.35,22.04-2.22,25.7-2.22,25.7l1.17,12.91l1.3,6.78l2.35,5.35
                    l2.09,6.39l15.26-17.35l8.61-37.3l-3.92-30.78l-2.82-7.08L71.96,229.46z"><title>Biceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('biceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'biceps'}"
                                      class="biceps muscle" d="M208.91,228.87l17.22,21.91c0,0,12.33,19.57,11.35,38.93c-0.98,19.37-0.98,19.37-0.98,19.37l-3.52,12.33
                    l-9.75-5.87l-10.59-18.59l-3.72-14.09V228.87z"><title>Biceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('quadriceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'quadriceps'}"
                                      class="quadriceps muscle" d="M96,400.04l0.61,8.83L88,425.7l-7.24,17.41l-5.28,19.17c0,0,0,21.13,3.33,40.89
                    c3.33,19.76,5.87,34.83,5.87,34.83l5.28,19.57l2.54,10.17l2.93,2.54l2.15-2.54L99.93,556v-10.37c0,0,3.21-5.28,6.21-4.7
                    c2.99,0.59,7.49,0.39,7.88,6.85c0.39,6.46,1.96,15.26,1.96,15.26s-0.39,9.2,5.67,7.24c6.07-1.96,7.24-3.72,7.24-3.72l2.15-7.24
                    l2.09-25.76l-4.96-30l-6-22.96l-14.87-40.17l-6.14-34.06L96,400.04z"><title>Quadriceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('quadriceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'quadriceps'}"
                                      class="quadriceps muscle"
                                      d="M185.34,394.05l-7.86,36.56l-11.22,32.52l-4.7,11.74l-6.52,23.74l-2.61,18.52l-0.52,37.3l1.3,5.22l4.43,4.43
                    c0,0,7.04,4.17,8.09-11.22c1.04-15.39,4.17-14.87,4.17-14.87l6.78-0.52c0,0,4.7-1.3,3.65,12.78c-1.04,14.09,12.78,5.48,12.78,5.48
                    l3.65-12.78l6-23.48l4.96-20.87l4.17-27.39l-2.09-15.91c0,0-3.65-16.7-14.61-35.74S185.34,394.05,185.34,394.05z"><title>Quadriceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                      class="calves muscle" d="M422.57,562.07l-4.11,16.24l-1.37,16.43l-1.76,29.15c0,0-0.39,23.67,3.62,28.37c4.01,4.7,7.92,7.43,7.92,7.43
                    s9.39-1.76,9-8.02s0.01-10.57,0.01-10.57l3.51,8.02l6.26,9l6.46,4.89l7.63,1.57l1.17-24.85l-2.48-24l-3.39-15.13l-0.52-5.54
                    l-11.35-18.59l-6.78-10.3l-2.09,6.39l-1.17,1.43l-5.22-10.3l-3.13-3.39h-1.7L422.57,562.07z"><title>Calves</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                      class="calves muscle" d="M499.52,572.7l-5.35,8.35l-4.43,9.91l-3.91,7.96l-0.78,4.17L483.09,637v13.3l2.74,12.39l0.91,7.7
                    c0,0,9.26-6.13,9.52-6.65s6.39-11.35,6.39-11.35l2.35-7.7l0.65-0.65l1.3,6.13v4.96l3.52,4.43l7.83,1.96c0,0,9-4.17,8.61-10.57
                    s1.57-21.65,1.57-21.65l-3.78-23.74l-2.61-12.39c0,0-0.78-9.13-2.61-13.57c-1.83-4.43-6.65-14.74-6.65-14.74l-8.35,9.13l-1.57,3.39
                    L499.52,572.7z"><title>Calves</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                      class="calves muscle" d="M96.09,585.74l-7.3,15.39l-3.91,30.52l1.83,29.48c0,0,7.04,32.35,7.04,33.13s3.91,26.09,3.91,26.09l17.48-3.65
                    l-6.26-42l-5.48-47.74l-1.3-16.43l-0.52-13.57L96.09,585.74z"><title>Calves</title></path>
                                <polygon

                                        [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                        class="calves muscle" points="128.11,605.5 127.49,606.57 119.7,619.98 115.98,630.35 115.13,648.35 117.35,675.54 119.5,700.59
                    120.67,713.5 123.8,684.93 128.11,661.07 130.07,649.91 130.07,636.8 130.07,625.85 "><title>Calves</title></polygon>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                      class="calves muscle" d="M157.13,603.74l4.7,13.04l1.57,7.57l-1.83,32.61l-3.13,22.43l-3.65,23.48l-2.74-53.93v-20.02
                    C152.04,628.91,157.78,604.33,157.13,603.74z"><title>Calves</title></path>
                                <polygon

                                        [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('calves'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'calves'}"
                                        class="calves muscle" points="161.57,711.74 177.22,717.61 181.65,698.96 189.35,670.52 195.35,648.74 198.22,632.83 197.17,612.48
                    194.83,595.52 190.13,595.52 187.13,587.04 182.7,586.26 179.89,599.96 175.39,623.96 167.96,664.13 "><title>Calves</title>
  </polygon>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('gluteus'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'gluteus'}"
                                      class="gluteus muscle"
                                      d="M417.22,365.57l-4.43,11.87l-1.96,10.43L409,403.65l-0.65,20.87c0,0,4.04,21.78,17.35,24.39
                    c13.3,2.61,18.78,2.35,18.78,2.35s13.96-1.57,15.91-8.35c1.96-6.78,4.3-4.3,4.3-4.3l5.09,9.52c0,0,7.43,11.35,18.91,10.17
                    s18.78-3.52,18.78-3.52s15.26-7.57,13.96-29.09c-1.3-21.52,0.08-37.43,0.08-37.43l-3.47-18.65c0,0-31.3,11.35-35.87,15.26
                    s-16.75,20.22-17.24,24.52s-2.97,2.59-2.97,2.59s-0.26-13.54-13.57-26.33c-13.3-12.78-19.7-14.87-19.7-14.87"><title>Gluteus</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('anteriorDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'anteriorDeltoid'}"
                                      class="anteriorDeltoid muscle" d="M109.39,200.89l-12.13-3.72l-6.65-3.65c0,0-17.61-0.65-21.13,2.22c-3.52,2.87-7.96,7.04-10.17,13.3
                    c-2.22,6.26-2.61,6.65-3,13.04c-0.39,6.39-0.91,9.26,0,13.83s2.24,9.29,2.24,9.29l6.37-10.46l7.7-6.56l0.52-1.01l1.15-11.81
                    l0.22-1.95C74.5,213.41,92.04,198.87,109.39,200.89z"><title>Anterior Deltoid</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('lateralDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'lateralDeltoid'}"
                                      class="lateralDeltoid muscle"
                                      d="M89.96,192.97l-11.84-4.99c0,0-14.77,0.59-20.93,10.86c-6.16,10.27-8.51,17.8-8.51,17.8L47.6,231.8l1.27,9.88
                    l0.39,10.47L52,264.97l4.4-16.73l1.99-3.6l-2.09-8.72c0,0-0.68-17.39,2.64-25.86C62.27,201.58,69.61,190.03,89.96,192.97z"><title>Lateral Deltoid</title>
  </path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('anteriorDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'anteriorDeltoid'}"
                                      class="anteriorDeltoid muscle" d="M173.43,199.52l20.83,8.35l9.76,4.57l5.8,8.48v9.78l15.76,19.4l3.23,5.55l3.05-12.29c0,0,1.7-9.91,0.65-18.65
                    c-1.04-8.74-2.48-12.39-5.74-16.3c-3.26-3.91-13.96-13.83-24.39-13.96c-10.43-0.13-12.65,1.43-12.65,1.43l-6.78,2.28L173.43,199.52z
                    "><title>Anterior Deltoid</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('lateralDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'lateralDeltoid'}"
                                      class="lateralDeltoid muscle" d="M193.65,194.43l9.5-2.34c0,0,12.03-0.98,16.33,1.66c4.3,2.64,13.01,8.9,15.95,19.27
                    c2.93,10.37,4.21,17.02,4.21,17.61s-0.49,15.26-0.49,15.26l-3.52,20.74l-1.32,2.2l-4.95-12.13l2.63-14.06c0,0,3.89-26.66-6.66-35.87
                    s-15-10.58-15-10.58S200.7,193.05,193.65,194.43z"><title>Lateral Deltoid</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('traps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'traps'}"
                                      class="traps muscle" d="M404.96,187.39L424,197.83l6.78,4.7l-4.17,2.09l4.17,25.3l2.87,28.43c0,0,27.65,43.04,28.43,54.52
                    c0.78,11.48,11.48,2.09,11.48,2.09l3.39-14.87l12.52-22.7l8.87-17.74l2.61-10.96l3.13-28.96l4.17-17.74l22.96-11.48l7.3-5.22
                    c0,0-44.09-1.83-56.09-29.48s-24.78,0-24.78,0S454.26,177.48,404.96,187.39z"><title>Traps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('posteriorDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'posteriorDeltoid'}"
                                      class="posteriorDeltoid muscle" d="M373.13,241.91l15.65-23.22l7.04-8.87c0,0,26.87-4.96,30.78-5.22c3.91-0.26,4.17-2.09,4.17-2.09l-15.4-9.42
                    l-10.42-5.71c0,0-22.7,6.52-26.61,21.39c-3.91,14.87-5.22,34.43-5.22,34.43V241.91z"><title>Posterior Deltoid</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('posteriorDeltoid'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'posteriorDeltoid'}"
                                      class="posteriorDeltoid muscle" d="M538.52,185.3c0,0,15.78,4.83,20.35,14.87c4.57,10.04,6.39,19.3,6.39,19.3l1.3,14.09l-1.96,8.61l-7.17-11.87
                    l-7.3-11.22c0,0-6.65-14.22-13.17-13.17c-6.52,1.04-8.74,0.52-9.13,0.13c-0.39-0.39-8.87-1.7-8.87-1.7l-8.87-0.52l-2.06-0.82
                    c0,0,18.06-8.82,23.19-12.49C536.35,186.86,538.52,185.3,538.52,185.3z"><title>Posterior Deltoid</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('hamstrings'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'hamstrings'}"
                                      class="hamstrings muscle"
                                      d="M414.09,459.74l-4.43,24.52l2.22,33.13l1.17,16.17l3.65,23.22l1.48,24.84l4.91-21.32l3-9.78l1.04-2.61
                    l10.1,19.53l17.29,27.62v-13.24l-6-61.04l-7.04-40.96l-4.17-21.44C437.3,458.39,425.83,446.17,414.09,459.74z"><title>Hamstrings</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('hamstrings'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'hamstrings'}"
                                      class="hamstrings muscle"
                                      d="M488.7,499.39l-4.17,24.81v34.93l-1.43,26.09l2.74,13.7l13.7-26.22l8.74-18l8.25,18.16l6.88-21.82v-49.3
                    c0,0-1.04-27.39-5.74-34.43c-2.46-3.69-15.28-13.81-22.17-4.43C489.2,471.41,488.7,499.39,488.7,499.39z"><title>Hamstrings</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('latisimus'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'latisimus'}"
                                      class="latisimus muscle" d="M433.39,255.71l-15.65,1.85h-11.22v14.87l-1.57,10.7l6.78,17.22l6,14.87l3.65,17.74l6.26,19.83
                    c0,0,5.22,9.65,3.13,13.83c-2.09,4.17,6-8.61,6-8.61l2.61-13.3c0,0,4.99-17.52,13.57-26.12c8.58-8.6,8.96-6.99,8.96-6.99
                    l-12.54-27.12L433.39,255.71z"><title>Latisimus</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('latisimus'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'latisimus'}"
                                      class="latisimus muscle"
                                      d="M499.29,255.71l-12.95,27.38l-9.38,16.99l-2.62,11.49l16.71,15.38l8.24,15.65l1.15,24.84l3.65,4.12l6.26-17.48
                    l9.65-19.3l3.65-16.21l3.13-18.49l5.48-15.91l2.09-30l-7.04,4.17C527.3,258.35,508.83,260.12,499.29,255.71z"><title>Latisimus</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('triceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'triceps'}"
                                      class="triceps muscle"
                                      d="M389.3,222.61l-4.56,2.08l-9.95,14.76L370,257.57l-1.83,25.83v19.57l3.39,7.04l14.35,12.52l10.43-13.3
                    l5.61-10.96l1.17-15.91l3.39-13.3L403.65,238c0,0-1.57-17.22-12.26-15.39C380.7,224.43,389.3,222.61,389.3,222.61z"><title>Triceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('triceps'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'triceps'}"
                                      class="triceps muscle" d="M534.35,224.43l1.04,21.65l-2.42,27.89l1.21,12.81l1.21,18.78l7.04,6.01l9.13,2.85l13.3-9.13l3.13-8.87v-22.17
                    l-2.87-21.65l-1.57-9.39l-6.13-12.91l-8.22-13C549.22,217.3,535.13,217.65,534.35,224.43z"><title>Triceps</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('erectors'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'erectors'}"
                                      class="erectors muscle" d="M469.12,317.83c0,0,26.61,7.3,27.4,23.48c0.78,16.17,0,33.13,0,33.13L478,385.39l-14.35,23.48l-13.57-25.83
                    l-14.61-11.48l5.3-26.7C440.78,344.87,443.81,317.83,469.12,317.83z"><title>Erectors</title></path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('forearm'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'forearm'}"
                                      class="forearm muscle"
                                      d="M45,298s-6.53,18.52-6.53,43.83S34.78,396,34.78,396L58,398.7s3.65-17.74,7.83-26.87S77,343.91,77.57,337.91s1-16.5,1-16.5l-9.83-9.06-3.66-.49-6.34,8.84Z"><title>Forearm</title>
  </path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('forearm'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'forearm'}"
                                      class="forearm muscle"
                                      d="M215.3,325.91l7.92-10.37,9.76,5.87,6.65-14.28,5.67-13s8.61,25.82,9.92,35.74,5.21,44.6,5.21,44.6l4.7,24.27L243.74,400s-13.57-29-17.48-37.87S216.61,341,215.3,325.91Z"><title>Forearm</title>
  </path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('forearm'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'forearm'}"
                                      class="forearm muscle"
                                      d="M346.78,400l20.09,2.31,2.87-6.35s16.69-31.74,20.09-41.13,9.79-31.62,9.65-40.44l-.14-8.81-13.06,18.43s-12.1,7.08-13.15-1.53l-1-8.61L371,309.52l-5.14-9.17s-7.57,21.65-10.18,42.78S346.78,400,346.78,400Z"><title>Forearm</title>
  </path>
                                <path [ngClass]="{'assisting-muscle-group': selectedExercise.assistingMuscleGroups.includes('forearm'),
        'major-muscle-group': selectedExercise.majorMuscleGroup === 'forearm'}"
                                      class="forearm muscle"
                                      d="M534.35,306.15l1.89,32.09L540,352.33l12.32,30.32,5.09,20,21.91-2.94-2.93-19.56L576,333.54s-.2-14.47-2.74-24.06A99.07,99.07,0,0,0,568,294.22l-2.7,9.87-7.15,12s2.47,7.63-7.66,11.15-8.19-3.91-8.19-3.91l1.37-2.94Z"><title>Forearm</title>
  </path>
                                    </svg>
                        </div>
                        <div class="col-lg-5 d-inline-block align-middle">
                            <h4>Major Muscle Group</h4>
                            <h4 class="font-weight-light">{{selectedExercise.majorMuscleGroup | getConstantViewName}}</h4>
                            <h4>Assisting Muscle Groups</h4>
                            <h4 class="font-weight-light"
                                *ngFor="let muscleGroup of selectedExercise.assistingMuscleGroups">
                                {{muscleGroup | getConstantViewName}}
                            </h4>
                        </div>
                    </div>

                    <div class="instructions col-12 my-3">
                        <h4 class="mb-4">Instructions</h4>
                        <p class="text-center text-justify">{{selectedExercise.instructions}}</p>
                    </div>

                    <div class="video px-5 pb-5 pt-0 my-0 d-inline-block col-12" *ngIf="youtubeVideoId">
                        <h4 class="m-5">Video Instructions</h4>
                        <youtube-player [videoId]="youtubeVideoId" class="embed-responsive embed-responsive-16by9"
                                        (ready)="onPlayerInit($event)"></youtube-player>
                    </div>

                    <hr/>

                    <div class="buttons col-12 mx-auto p-3">
                        <button type="button" class="btn btn-sm btn-success" (click)="open(createWorkoutExerciseModal)">
                            Add to workout
                        </button>
                    </div>


                </div>


            </div>

        </div>

    </div>
</div>
