<div class="container-fluid">

    <ng-template #createDietPlanModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Diet Plan</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #createDietPlanForm="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputDietPlanName">Diet Plan Name</label>
                        <input type="text" class="form-control" id="inputDietPlanName" name="name" #inputdietPlanName="ngModel"
                               required
                               [ngClass]="{'is-valid': inputdietPlanName.valid && inputdietPlanName.touched,
                               'is-invalid': inputdietPlanName.invalid && inputdietPlanName.touched}"
                               [(ngModel)]="dietPlanBindingModel.name">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Diet Plan Name is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputStatus">Status</label>
                        <select id="inputStatus" name="status" class="form-control" #inputDietPlanStatus
                                [(ngModel)]="dietPlanBindingModel.isPublic">
                            <option [ngValue]="true" selected>Public</option>
                            <option [ngValue]="false">Private</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]="createDietPlanForm.invalid" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
        </div>
    </ng-template>

    <div class="jumbotron">
        <img src="assets/static/images/logo.png" height="300px" class="d-inline-block align-center" alt="">
        <h1 class="display-4">My Diet Plans</h1>
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <h2>Diet Plans</h2>
                    <hr/>
                    <div class="list-group" *ngIf="dietPlans && dietPlans.length">
                        <button type="button" class="list-group-item list-group-item-action"
                                [ngClass]="{'active': selectedDietPlanId === dietPlan.id}"
                                (click)="onDietPlanButtonClick(dietPlan.id)"
                                *ngFor="let dietPlan of dietPlans">
                            {{dietPlan.name}}
                        </button>
                    </div>

                    <h5 *ngIf="!dietPlans || !dietPlans.length">You don't have any created diet plans.</h5>


                    <button type="button" class="btn btn-success mt-3" (click)="open(createDietPlanModal)">Create Diet Plan</button>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2>Selected Diet Plan</h2>
                    <hr/>
                    <router-outlet (deactivate)="onRouterOutletDeactivate()" (activate)="onRouterOutletActivate()"></router-outlet>
                </div>
            </div>

        </div>
    </div>

</div>
