.selected-workout-plan {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag:hover {
    cursor: grab;
}

.cdk-drop-list-dragging:hover .cdk-drag:hover {
    cursor: grabbing;
}

table {
    position: relative;
}

.order-index-workout {
    position: absolute;
    top: 7px;
    left: 0;

    border-radius: 50%;
    width: 36px;
    line-height: 36px;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

