<div class="card d-inline-flex">
    <div class="card-body">
        <h3 class="card-title">{{meal.name}}</h3>
        <hr/>
        <h4 class="font-weight-light pb-2">Creator: <a class="card-link"
                                                       routerLink="/profile/{{meal.creator.username}}">{{meal.creator.username}}</a>
        </h4>
        <hr/>

        <h4 class="card-title">Meal Nutrition</h4>
        <h3 class="text-center font-weight-light">Calories: {{meal.totalCalories}}</h3>
        <div class="chart-container row align-middle">
            <ngx-charts-pie-chart
                    [results]="macroNutrientsData"
                    [animations]="true"
                    [trimLabels]="false"
                    [doughnut]="true"
            >

            </ngx-charts-pie-chart>

            <div class="macros text-center mx-auto">
                <h5 class="font-weight-light ">
                    Protein: {{meal.totalProtein}}g.</h5>
                <h5 class="font-weight-light ">
                    Carbohydrates: {{meal.totalCarbohydrates}}g.</h5>
                <h5 class="font-weight-light ">Fats: {{meal.totalFats}}
                    g.</h5>
                <span class="display-5 opacity-5"><i
                        class="fas fa-utensils fa-lg"></i></span>
            </div>
        </div>
        <hr class="mb-5"/>
        <div class="buttons-wrapper left">
            <button type="button" class="btn btn-sm btn-success" (click)="copyToMyMealsHandler(meal.id)">Copy to
                My Meals
            </button>
        </div>
        <div class="buttons-wrapper right">
            <a routerLink="/meals/details/{{meal.id}}" class="btn btn-sm btn-info">Details</a>
        </div>

    </div>
</div>

