<div class="container-fluid">

    <ng-template #copyDietPlanToMyDietPlansModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Copy Diet Plan To My Diet Plans</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #createDietPlanForm="ngForm">
                <h5 class="text-center">{{dietPlan.name}}</h5>
                <table class="table table-striped table-hover mb-4 text-center" *ngFor="let meal of dietPlan.meals">
                    <thead>
                    <tr>
                        <th colspan="6" class="py-auto"><h5>{{meal.meal.name}}</h5></th>
                    </tr>
                    <tr *ngIf="meal.meal.foods && !meal.meal.foods.length">
                        <td colspan="6" class="py-auto"><h5>No added foods in this meal.</h5></td>
                    </tr>
                    <tr *ngIf="meal.meal.foods && meal.meal.foods.length">
                        <th scope="col" style="width: 25%">Food name</th>
                        <th scope="col" style="width: 15%">Serving</th>
                        <th scope="col" style="width: 15%">P</th>
                        <th scope="col" style="width: 15%">C</th>
                        <th scope="col" style="width: 15%">F</th>
                        <th scope="col" style="width: 15%">Calories</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="meal.meal.foods && meal.meal.foods.length">
                    <tr *ngFor="let food of meal.meal.foods">
                        <td class="align-middle">{{food.food.name}}</td>
                        <td class="align-middle">{{food.serving}} g.</td>
                        <td class="align-middle">{{food.proteinPerServing}} g.</td>
                        <td class="align-middle">{{food.carbohydratesPerServing}} g.</td>
                        <td class="align-middle">{{food.fatsPerServing}} g.</td>
                        <td class="align-middle">{{food.caloriesPerServing}}</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="align-middle text-center">Total:</td>
                        <td class="align-middle">{{meal.meal.totalProtein}} g.</td>
                        <td class="align-middle">{{meal.meal.totalCarbohydrates}} g.</td>
                        <td class="align-middle">{{meal.meal.totalFats}} g.</td>
                        <td class="align-middle">{{meal.meal.totalCalories}}</td>
                    </tr>

                    </tbody>
                </table>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Copy to My Diet Plans</button>
        </div>
    </ng-template>


    <div class="jumbotron">
        <img src="assets/static/images/logo.png" height="300px" class="d-inline-block align-center" alt="">
        <h1 class="display-4">Diet Plan Details</h1>
        <hr class="my-2"/>
        <div class="container pt-4">
            <div class="row">
                <div class="diet-plan-container col-lg-9 mx-auto">
                    <div class="exercise-intro mt-4">
                        <h2 class="display-4 d-block mx-auto font-weight-bolder">{{dietPlan.name}}</h2>
                    </div>

                    <hr class="my-4"/>

                    <h3 class="font-weight-light pb-3">Creator: <a class="card-link"
                                                                   routerLink="/profile/{{dietPlan.creator.username}}">{{dietPlan.creator.username}}</a>
                    </h3>

                    <table class="table table-striped table-hover mb-4"
                           *ngFor="let meal of dietPlan.meals">
                        <h4 class="order-index-meal font-weight-bold font-italic">{{meal.orderIndex}}</h4>
                        <thead>
                        <tr>
                            <th colspan="7" class="py-auto"><h5><a
                                    routerLink="/meals/details/{{meal.meal.id}}">{{meal.meal.name}}</a>
                            </h5></th>
                        </tr>
                        <tr *ngIf="meal.meal.foods && !meal.meal.foods.length">
                            <td colspan="7" class="py-auto"><h5>No added foods in this meal.</h5></td>
                        </tr>
                        <tr *ngIf="meal.meal.foods && meal.meal.foods.length">
                            <th scope="col" style="width: 25%">Food name</th>
                            <th scope="col" style="width: 15%">Serving</th>
                            <th scope="col" style="width: 10%">P</th>
                            <th scope="col" style="width: 10%">C</th>
                            <th scope="col" style="width: 10%">F</th>
                            <th scope="col" style="width: 10%">Calories</th>
                            <th scope="col" style="width: 20%;"></th>
                        </tr>
                        </thead>
                        <tbody *ngIf="meal.meal.foods && meal.meal.foods.length">

                        <tr *ngFor="let food of meal.meal.foods">
                            <td class="align-middle">{{food.food.name}}</td>
                            <td class="align-middle">{{food.serving}} g.</td>
                            <td class="align-middle">{{food.proteinPerServing}} g.</td>
                            <td class="align-middle">{{food.carbohydratesPerServing}} g.</td>
                            <td class="align-middle">{{food.fatsPerServing}} g.</td>
                            <td class="align-middle">{{food.caloriesPerServing}}</td>
                            <td>
                                <button type="button" routerLink="/foods/details/{{food.food.id}}"
                                        class="btn btn-primary mr-2"><i class="far fa-eye"></i></button>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="align-middle text-center">Total: </td>
                            <td class="align-middle">{{meal.meal.totalProtein}} g.</td>
                            <td class="align-middle">{{meal.meal.totalCarbohydrates}} g.</td>
                            <td class="align-middle">{{meal.meal.totalFats}} g.</td>
                            <td class="align-middle">{{meal.meal.totalCalories}}</td>
                            <td class="align-middle"></td>
                        </tr>
                        </tbody>
                    </table>


                    <ng-template [ngIf]="dietPlan.meals && dietPlan.meals.length">

                        <hr class="my-2"/>

                        <h2 class="mx-auto font-weight-bold">Diet Plan Nutrition</h2>

                        <h3 class="text-center font-weight-light">Calories: {{dietPlan.totalCalories}}</h3>
                        <div class="macros text-center mx-auto">
                            <h3 class="font-weight-light ">
                                Protein: {{dietPlan.totalProtein}}g.</h3>
                            <h3 class="font-weight-light ">
                                Carbohydrates: {{dietPlan.totalCarbohydrates}}g.</h3>
                            <h3 class="font-weight-light ">Fats: {{dietPlan.totalFats}}
                                g.</h3>
                            <span class="display-5 opacity-5"><i
                                    class="fas fa-utensils fa-lg"></i></span>
                        </div>
                        <div class="chart-container row align-middle">
                            <ngx-charts-bar-horizontal-2d *ngIf="macroNutrientsData"
                                                          class="mx-auto"
                                                          [view]="[800, 600]"
                                                          [animations]="true"
                                                          [xAxis]="true"
                                                          [yAxis]="true"
                                                          [results]="macroNutrientsData"
                                                          [trimXAxisTicks]="false"
                                                          legendTitle="Nutrition"
                                                          [legend]="true"
                                                          [showXAxisLabel]="true"
                                                          [showDataLabel]="true"
                                                          [showGridLines]="true"
                                                          [showYAxisLabel]="true"
                                                          [gradient]="true"
                                                          [noBarWhenZero]="true"
                                                          [roundDomains]="true"
                                                          [tooltipDisabled]="false"
                                                          [trimYAxisTicks]="false">

                            </ngx-charts-bar-horizontal-2d>


                        </div>
                    </ng-template>

                    <h3 *ngIf="dietPlan && !dietPlan.meals.length">No added meals.</h3>

                    <div class="buttons col-12 mx-auto p-3">
                        <button type="button" class="btn btn-success" (click)="open(copyDietPlanToMyDietPlansModal)">
                            Copy to My Diet Plans
                        </button>

                        <button type="button"
                                class="btn btn-info my-3 mx-2" (click)="exportToExcelHandler()">Export to Excel
                        </button>
                    </div>

                </div>


            </div>


        </div>

    </div>

</div>

