.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.6);
}

.results-container {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.calories {
    background: linear-gradient(348deg, rgba(255, 255, 255, 0.5) 0%, rgba(37, 206, 209, 1) 66%);
    border-radius: 30px;
}
.chart-container {
    height: 350px;
    position: relative;
}

.macros {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-signin.create-food .card-img-left {
    width: 60%;
    background: scroll center url('src/main/webapp/assets/static/images/createfoodgif.gif');
    background-size: cover;
}

.card-body {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.macro-container label {
    position: relative;
}

.macro-container label::after {
    content: 'g';
    display: block;
    position: absolute;
    right: -130px;
    transition: all .05s ease-in-out;
    z-index: 100;
}

.card-signin {
    border-radius: 0;
}
