<div class="card d-inline-flex col-12">
    <div class="card-body">
        <h3 class="card-title">{{workoutPlan.name}}</h3>
        <hr/>
        <h4 class="font-weight-light pb-2">Creator: <a class="card-link" routerLink="/profile/{{workoutPlan.creator.username}}">{{workoutPlan.creator.username}}</a></h4>
        <hr/>
        <div class="accordion" id="accordionExample">
            <div class="" *ngFor="let workout of workoutPlan.workouts; let i = index">
                <div class="header" [id]="workout.id">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapse show" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + workout.id + workoutPlan.id" aria-expanded="true" [attr.aria-controls]="'collapse' + workout.id + workoutPlan.id">
                            {{workout.orderIndex}}. {{workout.workout.name}}
                        </button>
                    </h2>
                </div>
                <div [id]="'collapse' + workout.id + workoutPlan.id" class="collapse" [attr.aria-labelledby]="workout.id" data-parent="#accordionExample">
                    <div class="body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr *ngIf="workout.workout.exercises && !workout.workout.exercises.length">
                                <td colspan="5" class="py-auto"><h5>No added exercises in this workout.</h5></td>
                            </tr>
                            <tr *ngIf="workout.workout.exercises && workout.workout.exercises.length">
                                <th scope="col" style="width: 10%">Order</th>
                                <th scope="col" style="width: 30%">Exercise</th>
                                <th scope="col" style="width: 20%">Reps</th>
                                <th scope="col" style="width: 20%">Sets</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr *ngFor="let exercise of workout.workout.exercises">
                                <td class="align-middle">{{exercise.orderIndex}}</td>
                                <td class="align-middle">{{exercise.exercise.name}}</td>
                                <td class="align-middle">{{exercise.reps}}</td>
                                <td class="align-middle">{{exercise.sets}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <hr class="mb-5"/>
        <div class="buttons-wrapper left">
            <button type="button" class="btn btn-sm btn-success" (click)="copyToMyWorkoutPlansHandler(workoutPlan.id)">Copy To My Plans
            </button>
        </div>
        <div class="buttons-wrapper right">
            <a routerLink="/workout-plans/details/{{workoutPlan.id}}" class="btn btn-sm btn-info">Details</a>
        </div>

    </div>
</div>

