<div class="card d-inline-flex col-12">
    <div class="card-body">
        <h3 class="card-title">{{dietPlan.name}}</h3>
        <hr/>
        <h4 class="font-weight-light pb-2">Creator: <a class="card-link"
                                                       routerLink="/profile/{{dietPlan.creator.username}}">{{dietPlan.creator.username}}</a>
        </h4>
        <hr/>
        <div class="row">
            <h4 class="col-7 font-weight-light my-auto p-1">{{dietPlan.likesCount}} Likes</h4>
            <button class="button button-like my-auto" (click)="onLikeHandler()" [ngClass]="{'liked': dietPlan.isLiked}"
                    type="button">
                <i class="fa fa-heart"></i>
                <span>Like</span>
            </button>
        </div>
        <hr/>

        <h3 class="text-center font-weight-bold">Calories: {{dietPlan.totalCalories}}</h3>
        <div class="chart-container row align-middle">
            <ngx-charts-pie-chart
                [results]="macroNutrientsData"
                [animations]="true"
                [trimLabels]="false"
                [doughnut]="true"
                >

            </ngx-charts-pie-chart>

            <div class="macros text-center mx-auto">
                <h5 class="font-weight-light ">
                    Protein: {{dietPlan.totalProtein}}g.</h5>
                <h5 class="font-weight-light ">
                    Carbohydrates: {{dietPlan.totalCarbohydrates}}g.</h5>
                <h5 class="font-weight-light ">Fats: {{dietPlan.totalFats}}
                    g.</h5>
            </div>
        </div>

        <hr class="mb-5"/>
        <div class="buttons-wrapper left">
            <button type="button" class="btn btn-sm btn-success" (click)="copyToMyDietPlansHandler(dietPlan.id)">Copy To
                My Plans
            </button>
        </div>
        <div class="buttons-wrapper right">
            <a routerLink="/diet-plans/details/{{dietPlan.id}}" class="btn btn-sm btn-info">Details</a>
        </div>

    </div>
</div>

