<div class="container-fluid">

    <ng-template #createWorkoutPlanModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Create Workout Plan</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #createWorkoutPlanForm="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputWorkoutName">Workout Plan Name</label>
                        <input type="text" class="form-control" id="inputWorkoutName" name="name" #inputWorkoutPlanName="ngModel"
                               required
                               [ngClass]="{'is-valid': inputWorkoutPlanName.valid && inputWorkoutPlanName.touched,
                               'is-invalid': inputWorkoutPlanName.invalid && inputWorkoutPlanName.touched}"
                               [(ngModel)]="workoutPlanBindingModel.name">
                        <div class="valid-feedback"></div>
                        <div class="invalid-feedback">
                            Workout Plan Name is required.
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputStatus">Status</label>
                        <select id="inputStatus" name="status" class="form-control" #inputWorkoutStatus
                                [(ngModel)]="workoutPlanBindingModel.isPublic">
                            <option [ngValue]="true" selected>Public</option>
                            <option [ngValue]="false">Private</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" [disabled]="createWorkoutPlanForm.invalid" class="btn btn-outline-dark" (click)="modal.close()">Save</button>
        </div>
    </ng-template>

    <div class="jumbotron">
        <img src="assets/static/images/logo.png" height="300px" class="d-inline-block align-center" alt="">
        <h1 class="display-4">My Workout Plans</h1>
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <h2>Workout Plans</h2>
                    <hr/>
                    <div class="list-group" *ngIf="workoutPlans && workoutPlans.length">
                        <button type="button" class="list-group-item list-group-item-action"
                                [ngClass]="{'active': selectedWorkoutPlanId === workoutPlan.id}"
                                (click)="onWorkoutPlanButtonClick(workoutPlan.id)"
                                *ngFor="let workoutPlan of workoutPlans">
                            {{workoutPlan.name}}
                        </button>
                    </div>

                    <h5 *ngIf="!workoutPlans || !workoutPlans.length">You don't have any created workout plans.</h5>


                    <button type="button" class="btn btn-success mt-3" (click)="open(createWorkoutPlanModal)">Create Workout Plan</button>
                </div>
                <div class="col-lg-8 mx-auto">
                    <h2>Selected Workout Plan</h2>
                    <hr/>
                    <router-outlet (deactivate)="onRouterOutletDeactivate()" (activate)="onRouterOutletActivate()"></router-outlet>
                </div>
            </div>

        </div>
    </div>

</div>
