<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <ngb-alert *ngIf="errorOccurred" (close)="errorOccurred = false" type="danger">Wrong username or password!</ngb-alert>
              <h5 class="card-title text-center">Sign In</h5>
              <form class="form-signin" #signinForm="ngForm">
                <div class="form-label-group">
                  <label for="username">Username</label>
                  <input type="text" id="username" class="form-control"
                         placeholder="Username" required autofocus name="username" [(ngModel)]="signInBindingModel.username">
                </div>

                <div class="form-label-group">
                  <label for="inputPassword">Password</label>
                  <input type="password" id="inputPassword" class="form-control"
                         placeholder="Password" required name="password" [(ngModel)]="signInBindingModel.password">
                </div>

                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
                  <label class="custom-control-label" for="rememberMe">Remember
                    me</label>
                </div>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase"
                        type="submit" (click)="onSubmit()">Sign
                  in</button>

                <p>You don't have a registration? Don't wait to get fit!</p>
                <a routerLink="/register" role="button"><button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="button">Register</button></a>
<!--                <hr class="my-4">-->
<!--                <button class="btn btn-lg btn-facebook btn-block text-uppercase"-->
<!--                        type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with-->
<!--                  Facebook</button>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
