.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background: rgba(255, 255, 255, 0.6);
}

.btn {
    border-radius: 10px;
}

.buttons-wrapper {
    position: absolute;
    bottom: 1em;
}

.buttons-wrapper.right {
    right: 1em;
}

.buttons-wrapper.left {
    left: 1em;
}

.table-wrapper{
    max-height: 300px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

