<div class="container-fluid">
  <div class="jumbotron">
    <img src="assets/static/images/logo.png" height="300px" class="d-inline-block align-center" alt="">
    <h1 class="display-4">Welcome to FitBook, {{loggedUserFirstName}}!</h1>
    <h4 class="font-weight-light">This is your Fitness Profile!</h4>
    <h4 class="font-weight-light">You can use it to build your workout plans and diet plans for your personal
      needs.</h4>
    <h4 class="font-weight-light">Dont't wait to get in the best shape of your life!</h4>


    <div class="container mt-5">
      <div class="row fitness-profile-wrapper col-10 text-center mx-auto">
        <div class="info col-lg-5 justify-content-center mx-auto mb-3">
          <div class="profile-photo col-12 mt-3">
            <img src="{{loggedUser.profilePictureURL}}" alt="Profile picture">
          </div>
          <div class="col-12 my-3">
            <h2 class="font-weight-light">{{loggedUser.firstName}} {{loggedUser.lastName}}</h2>
            <h3 class="font-weight-light">Age: {{loggedUser.fitnessProfile.age}}</h3>
          </div>
        </div>
        <div class="card calories d-inline-block my-auto col-lg-5 mt-5">
          <div class="card-body">
            <h3 class="card-title text-white font-weight-light">Daily Calories Goal</h3>
            <div class="d-block">
              <h2 class="text-white font-weight-light">{{loggedUserFitnessProfile.currentCalories}}</h2>
            </div>
            <span class="display-5 opacity-5 text-white"><i class="fas fa-fire-alt fa-lg"></i></span>

          </div>
        </div>
        <div class="row justify-content-around fitness-profile-attributes mt-5">


          <div class="card height col-lg-3 mt-3 mx-2 ">
            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-ruler-vertical fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Height</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.height}} cm.</h2>
              </div>

            </div>
          </div>

          <div class="card weight col-lg-3 mt-3 mx-2 ">
            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-weight fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Weight</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.weight}} kg.</h2>
              </div>
            </div>
          </div>

          <div class="card activity col-lg-3 mt-3 mx-2 ">
            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-running fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Activity Level</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.activityLevel | getConstantViewName}}</h2>
              </div>

            </div>
          </div>

          <div class="card sports-experience col-lg-3 mt-3 mx-2 ">

            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-dumbbell fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Sports Experience</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.sportsExperience | getConstantViewName}}</h2>
              </div>
            </div>
          </div>

          <div class="card weight-goal col-lg-3 mt-3 mx-2  ">
            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-balance-scale-right fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Weight Goal</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.weightGoal | getConstantViewName}}</h2>
              </div>

            </div>
          </div>


          <div class="card weight-change-rate col-lg-3 mt-3 mx-2 ">
            <div class="card-body">
              <span class="display-5 opacity-5 text-white"><i class="fas fa-tachometer-alt fa-lg"></i></span>
              <h3 class="card-title text-white font-weight-light">Weight Change Rate</h3>
              <div class="d-block">
                <h2
                  class="text-white font-weight-light">{{loggedUserFitnessProfile.weightChangeRate | getConstantViewName}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
