<div class="container-fluid">

    <ng-template #createMealFoodModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Food to Meal</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #addToMealForm="ngForm">
                <ng-template [ngIf]="userMeals && userMeals.length">
                    <h5>{{selectedFoodForModal.name}}</h5>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="inputServing">Serving (g.)</label>
                            <input type="number" class="form-control" id="inputServing" name="inputServing"
                                   #inputServing="ngModel"
                                   required
                                   pattern="^[1-9][0-9]*"
                                   min="1"
                                   (change)="this.makeChartDataForMacroNutrients()"
                                   [ngClass]="{'is-valid': inputServing.valid && inputServing.touched,
                         'is-invalid': inputServing.invalid && inputServing.touched}"
                                   [(ngModel)]="mealFoodBindingModel.serving">
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">
                                Serving should be a positive number.
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label for="inputStatus">Meal</label>
                            <select id="inputStatus" name="status" class="form-control" #inputMealId required
                                    [(ngModel)]="selectedMealId">
                                <option [ngValue]="meal.id"
                                        *ngFor="let meal of userMeals">{{meal.name}}</option>
                            </select>
                        </div>

                    </div>

                    <hr/>

                    <h3 class="text-center font-weight-light">Calories: {{mealFoodCaloriesPerServing}}</h3>
                    <div class="chart-container row align-middle">
                        <ngx-charts-pie-chart
                                [results]="macroNutrientsData"
                                [animations]="true"
                                [trimLabels]="false"
                                [doughnut]="true"
                        >

                        </ngx-charts-pie-chart>

                        <div class="macros text-center mx-auto">
                            <h5 class="font-weight-light ">
                                Protein: {{mealFoodProteinPerServing}}g.</h5>
                            <h5 class="font-weight-light ">
                                Carbohydrates: {{mealFoodCarbohydratesPerServing}}g.</h5>
                            <h5 class="font-weight-light ">Fats: {{mealFoodFatsPerServing}}
                                g.</h5>
                            <span class="display-5 opacity-5"><i
                                    class="fas fa-utensils fa-lg"></i></span>
                        </div>
                    </div>
                </ng-template>
            </form>

            <ng-template [ngIf]="userMeals && !userMeals.length">
                <h3 class="mb-3">You don't have any created meals.</h3>
                <button type="button" class="btn btn-success mt-3 d-block mx-auto" routerLink="/my-meals" (click)="modal.dismiss()">Go to My Meals</button>
            </ng-template>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" [disabled]="addToMealForm.invalid || userMeals && !userMeals.length"
                    (click)="modal.close()">Add to Meal
            </button>
        </div>
    </ng-template>

    <div class="jumbotron">

        <img src="assets/static/images/logo.png" height="300px" class="align-center" alt="">
        <h1 class="display-4">All Foods</h1>


        <hr class="my-4">
        <div class="container justify-content-center pb-0">
            <ng-template [ngIf]="filteredFoods.length > 0" [ngIfElse]="noSuchFoods">
                <div class="row">
                    <app-food-card
                            (modalOpen)="open(createMealFoodModal, $event)"
                            [food]="food"
                            class="col-lg-4 col-sm-12 my-3 d-flex mx-auto align-items-stretch"
                            *ngFor="let food of filteredFoods | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                        >
                    </app-food-card>
                </div>
                <ngb-pagination class="d-inline-block mt-5" [(page)]="page"
                                [pageSize]="pageSize"
                                [collectionSize]="filteredFoods.length"></ngb-pagination>
            </ng-template>

            <ng-template #noSuchFoods>
                <h5>There are no foods.</h5>
            </ng-template>

        </div>


    </div>

</div>
