<div class="card d-inline-flex">
    <div class="thumbnail">
        <img class="card-img-top" src="{{food.pictureURL}}" alt="Card image cap"/>
    </div>
    <div class="card-body">
        <h3 class="card-title">{{food.name}}</h3>
        <hr/>

        <h4 class="card-title">Nutrition Per 100 g</h4>
        <h5 class="card-subtitle font-weight-light mb-1">Protein: {{food.proteinPerHundred}}</h5>
        <h5 class="card-subtitle font-weight-light mb-1">Carbohydrates: {{food.carbohydratesPerHundred}}</h5>
        <h5 class="card-subtitle font-weight-light mb-1">Fats: {{food.fatsPerHundred}}</h5>
        <hr/>
        <h5 class="card-subtitle font-weight-light mb-3">Calories: {{food.caloriesPerHundred}}</h5>
        <hr class="mb-5"/>
        <div class="buttons-wrapper left">
            <button type="button" class="btn btn-sm btn-success" (click)="addToMealHandler(food.id)">Add to meal
            </button>
        </div>
        <div class="buttons-wrapper right">
            <a routerLink="/foods/details/{{food.id}}" class="btn btn-sm btn-info">Details</a>
        </div>
    </div>
</div>

